# COVID 19 VISUALIZATIONS

## Importing Modules

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
print('Modules are imported')
#import calmap
#from pandas_profiling import ProfileReport

Modules are imported

## Creating dataframe

In [10]:
dataset_url = 'https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv'
df = pd.read_csv(dataset_url)

In [11]:
df.head(5)

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [12]:
confirmed = df[df.Confirmed > 0]
confirmed.head()

          Date      Country  Confirmed  Recovered  Deaths
33  2020-02-24  Afghanistan          5          0       0
34  2020-02-25  Afghanistan          5          0       0
35  2020-02-26  Afghanistan          5          0       0
36  2020-02-27  Afghanistan          5          0       0
37  2020-02-28  Afghanistan          5          0       0

In [14]:
Italy = confirmed[confirmed.Country == 'Italy']
Italy.head()

             Date Country  Confirmed  Recovered  Deaths
70185  2020-01-31   Italy          2          0       0
70186  2020-02-01   Italy          2          0       0
70187  2020-02-02   Italy          2          0       0
70188  2020-02-03   Italy          2          0       0
70189  2020-02-04   Italy          2          0       0

## Visual to show global impact

In [ ]:
fig = px.choropleth(df, locations='Country',locationmode='country names',color='Confirmed',
                   animation_frame='Date')
# add title
fig.update_layout(title_text='Global Spread of Covid 19')
fig.show()

## Visual to show global deaths

In [ ]:
fig1 = px.choropleth(df, locations='Country',locationmode='country names',color='Deaths',
                   animation_frame='Date')
# add title
fig1.update_layout(title_text='Global Covid 19 Deaths')
fig1.show()

## Spread of Virus in Countries

In [15]:
china = df[df.Country == 'China']
china.head()

             Date Country  Confirmed  Recovered  Deaths
30192  2020-01-22   China        548         28      17
30193  2020-01-23   China        643         30      18
30194  2020-01-24   China        920         36      26
30195  2020-01-25   China       1406         39      42
30196  2020-01-26   China       2075         49      56

In [16]:
# Deleie unwanted columns
china = china[['Date', 'Confirmed']]
china.head()

             Date  Confirmed
30192  2020-01-22        548
30193  2020-01-23        643
30194  2020-01-24        920
30195  2020-01-25       1406
30196  2020-01-26       2075

In [17]:
# Add new column - Increase per day
china['Infection Rate'] = china['Confirmed'].diff()
china.head()

             Date  Confirmed  Infection Rate
30192  2020-01-22        548             NaN
30193  2020-01-23        643            95.0
30194  2020-01-24        920           277.0
30195  2020-01-25       1406           486.0
30196  2020-01-26       2075           669.0

In [18]:
# max value of infections per day
mv = china['Infection Rate'].max()
mv

77402.0

## Max infection rate per country

In [20]:
confirmed.head()

          Date      Country  Confirmed  Recovered  Deaths
33  2020-02-24  Afghanistan          5          0       0
34  2020-02-25  Afghanistan          5          0       0
35  2020-02-26  Afghanistan          5          0       0
36  2020-02-27  Afghanistan          5          0       0
37  2020-02-28  Afghanistan          5          0       0

In [21]:
countries = list(df['Country'].unique())
countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Summer Olympics 2020',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Winter Olympics 2022',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [23]:
# max per country
max_infection_rates = []
for c in countries:
    MIR = confirmed[confirmed.Country == c].Confirmed.diff().max()
    max_infection_rates.append(MIR)
print(max_infection_rates)

[3243.0, 4789.0, 2521.0, 2313.0, 5035.0, 0.0, 468.0, 139853.0, 4388.0, 175271.0, 58583.0, 7779.0, 1497.0, 8173.0, 16230.0, 1329.0, 8921.0, 133480.0, 1517.0, 2566.0, 2291.0, 23611.0, 5254.0, 41576.0, 287149.0, 7380.0, 12399.0, 1005.0, 7083.0, 4710.0, 1469.0, 1130.0, 9668.0, 63808.0, 4044.0, 596.0, 41651.0, 77402.0, 35575.0, 275.0, 1188.0, 4481.0, 18188.0, 2858.0, 11812.0, 9907.0, 6494.0, 57378.0, 55709.0, 99.0, 415.0, 392.0, 7439.0, 17670.0, 5516.0, 12677.0, 1750.0, 282.0, 8438.0, 1642.0, 5185.0, 1854.0, 28891.0, 503349.0, 1871.0, 587.0, 26320.0, 527487.0, 2521.0, 50182.0, 902.0, 5826.0, 534.0, 191.0, 1186.0, 737.0, 7.0, 12890.0, 45047.0, 7408.0, 414188.0, 64718.0, 50228.0, 13515.0, 43199.0, 243295.0, 228123.0, 1968.0, 104345.0, 25502.0, 66121.0, 3749.0, 350.0, 621317.0, 4397.0, 6913.0, 11505.0, 3915.0, 11992.0, 10760.0, 6925.0, 447.0, 5694.0, 349.0, 12968.0, 5497.0, 7.0, 2295.0, 1316.0, 33406.0, 2838.0, 1217.0, 1677.0, 3.0, 1211.0, 30006.0, 109895.0, 0.0, 6199.0, 520.0, 24556.0, 2960.0, 12039.0, 4947.0, 3268.0, 10052.0, 380498.0, 39814.0, 718.0, 301.0, 6158.0, 2332.0, 26109.0, 6146.0, 12073.0, 371.0, 19722.0, 1543.0, 25833.0, 99645.0, 38867.0, 57659.0, 75276.0, 4206.0, 40018.0, 202211.0, 3072.0, 238.0, 722.0, 2723.0, 701.0, 491.0, 319.0, 5928.0, 1722.0, 36737.0, 2068.0, 192.0, 39252.0, 28504.0, 23332.0, 681.0, 1066.0, 37875.0, 503.0, 372766.0, 11366.0, 1284.0, 112.0, 1404.0, 138985.0, 89462.0, 905.0, 1348.0, 407.0, 24307.0, 52284.0, 532.0, 1002.0, 832.0, 1259.0, 19923.0, 823225.0, 1383795.0, 21324.0, 45022.0, 4471.0, 848169.0, 13612.0, 1478.0, 566.0, 4418.0, 454212.0, 30356.0, 55.0, 287.0, 5555.0, 9185.0]

In [24]:
df_MIR = pd.DataFrame()
df_MIR['Country'] = countries
df_MIR['Max Infection Rate'] = max_infection_rates
df_MIR.head()

       Country  Max Infection Rate
0  Afghanistan              3243.0
1      Albania              4789.0
2      Algeria              2521.0
3      Andorra              2313.0
4       Angola              5035.0

In [ ]:
# PLot these values
df_MIR, x='Country',y='Max Infection Rate',color='Country',title='Global Max Infection Rate',log_y=True)

## Lockdown impacts in Italy

In [25]:
italy_lockdown_start_date = '2020-03-09'
italy_lockdown_a_month_later = '2020-04-09'

In [27]:
confirmed.head()

          Date      Country  Confirmed  Recovered  Deaths
33  2020-02-24  Afghanistan          5          0       0
34  2020-02-25  Afghanistan          5          0       0
35  2020-02-26  Afghanistan          5          0       0
36  2020-02-27  Afghanistan          5          0       0
37  2020-02-28  Afghanistan          5          0       0

In [28]:
Italy.head()

             Date Country  Confirmed  Recovered  Deaths
70185  2020-01-31   Italy          2          0       0
70186  2020-02-01   Italy          2          0       0
70187  2020-02-02   Italy          2          0       0
70188  2020-02-03   Italy          2          0       0
70189  2020-02-04   Italy          2          0       0

In [30]:
Italy['Infection Rate'] = Italy.Confirmed.diff()
Italy.head()

C:\Users\gmula\AppData\Local\Temp/ipykernel_33528/3432994120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Italy['Infection Rate'] = Italy.Confirmed.diff()

             Date Country  Confirmed  Recovered  Deaths  Infection Rate
70185  2020-01-31   Italy          2          0       0             NaN
70186  2020-02-01   Italy          2          0       0             0.0
70187  2020-02-02   Italy          2          0       0             0.0
70188  2020-02-03   Italy          2          0       0             0.0
70189  2020-02-04   Italy          2          0       0             0.0

In [ ]:
fig2 = px.line(Italy, x='Date',y='Infection Rate', title='Before and After Lockdown in Italy')
fig2.show()

In [ ]:
fig2 = px.line(Italy, x='Date',y='Infection Rate', title='Before and After Lockdown in Italy')
fig2.add_shape(
    dict(
    type='line',
    x0=italy_lockdown_start_date,
    y0=0,
    x1=italy_lockdown_start_date,
    y1=Italy['Infection Rate'].max(),
    line = dict(color='red', width=2)
)
)
fig2.add_annotation(
    dict(
    x=italy_lockdown_start_date,
    y=Italy['Infection Rate'].max(),
    text="starting date of lockdown"
    )
)

fig2.add_shape(
    dict(
    type='line',
    x0=italy_lockdown_a_month_later,
    y0=0,
    x1=italy_lockdown_a_month_later,
    y1=Italy['Infection Rate'].max(),
    line = dict(color='orange', width=2)
)
)
fig2.add_annotation(
    dict(
    x=italy_lockdown_a_month_later,
    y=Italy['Infection Rate'].max(),
    text = "ending date of lockdown"
    )
)

## Lockdown iimpact on Deaths in Italy

In [31]:
# Deaths rate claculations
Italy['Deaths Rate'] = Italy.Deaths.diff()
Italy.head()

C:\Users\gmula\AppData\Local\Temp/ipykernel_33528/651892203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Italy['Deaths Rate'] = Italy.Deaths.diff()

,Date,Country,Confirmed,Recovered,Deaths,Infection Rate,Deaths Rate
70185,2020-01-31,Italy,2,0,0,NaN,NaN
70186,2020-02-01,Italy,2,0,0,0.0,0.0
70187,2020-02-02,Italy,2,0,0,0.0,0.0
70188,2020-02-03,Italy,2,0,0,0.0,0.0
70189,2020-02-04,Italy,2,0,0,0.0,0.0

In [ ]:
# Visualization
fig3 = px.line(Italy,x='Date', y=['Infection Rate', 'Deaths Rate'])
fig3.show()

In [32]:
# Normalizing the columns

Italy['Infection Rate'] = Italy['Infection Rate']/Italy['Infection Rate'].max()
Italy['Deaths Rate'] = Italy['Deaths Rate']/Italy['Deaths Rate'].max()

C:\Users\gmula\AppData\Local\Temp/ipykernel_33528/2185501516.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Italy['Infection Rate'] = Italy['Infection Rate']/Italy['Infection Rate'].max()
C:\Users\gmula\AppData\Local\Temp/ipykernel_33528/2185501516.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Italy['Deaths Rate'] = Italy['Deaths Rate']/Italy['Deaths Rate'].max()

In [ ]:
# Visulization
fig4 = px.line(Italy, x='Date', y=['Infection Rate', 'Deaths Rate'])
fig4.show()

## TRY Germany!!

In [33]:
Germany_lockdown_start_date = '2020-03-23' 
Germany_lockdown_a_month_later = '2020-04-23'

In [35]:
Germany=confirmed[confirmed.Country=='Germany']
Germany.head(5)

             Date  Country  Confirmed  Recovered  Deaths
54677  2020-01-27  Germany          1          0       0
54678  2020-01-28  Germany          4          0       0
54679  2020-01-29  Germany          4          0       0
54680  2020-01-30  Germany          4          0       0
54681  2020-01-31  Germany          5          0       0

In [36]:
# get only relevant columns
Germany=Germany[['Date','Confirmed','Deaths']]

In [37]:
# calculate rates
Germany['Infection Rate']=Germany['Confirmed'].diff()
Germany['Deaths Rate']=Germany['Deaths'].diff()

In [ ]:
#plot them
fig5= px.line(Germany, x='Date', y=['Infection Rate', 'Deaths Rate'])
fig5.show()

In [38]:
##scale them
Germany['Infection Rate'] = Germany['Infection Rate']/Germany['Infection Rate'].max()
Germany['Deaths Rate'] = Germany['Deaths Rate']/Germany['Deaths Rate'].max()

In [ ]:
# plot the,

In [ ]:
fig6= px.line(Germany, x='Date', y=['Infection Rate', 'Deaths Rate'])
fig6.show()

In [ ]:
## Final visual
# Visulization
fig7 = px.line(Germany, x='Date', y=['Infection Rate', 'Deaths Rate'], title = 'Germany lockdown impact')
fig7.add_shape(
    dict(
    type='line',
    x0=Germany_lockdown_start_date,
    y0=0,
    x1=Germany_lockdown_start_date,
    y1=Germany['Infection Rate'].max(),
    line = dict(color='green', width=2)
)
)
fig7.add_annotation(
    dict(
    x=Germany_lockdown_start_date,
    y=Germany['Infection Rate'].max(),
    text="starting date of lockdown"
    )
)

fig7.add_shape(
    dict(
    type='line',
    x0=Germany_lockdown_a_month_later,
    y0=0,
    x1=Germany_lockdown_a_month_later,
    y1=Germany['Infection Rate'].max(),
    line = dict(color='yellow', width=2)
)
)
fig7.add_annotation(
    dict(
    x=Germany_lockdown_a_month_later,
    y=Germany['Infection Rate'].max(),
    text = "ending date of lockdown"
    )
)